:root{
    --blue: #112038;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

h2, h3 {
    color: var(--blue)
}

button{
    border: none;
    cursor: pointer
}